In [2]:
"""Industrials List

This file calculates the top 5 stocks in the the industrials list by marketcap

"""
# Import modules
import csv
from pathlib import Path
import pandas as pd

In [10]:
# Read CSV file 
sp500_w_marketcap = pd.read_csv(
    Path("../Resources/stock_industry_marketcap.csv"),
)
sp500_w_marketcap.head()

  Symbol             GICS Sector    Market_Cap
0    MMM             Industrials  1.144546e+11
1    ABT             Health Care  2.166563e+11
2   ABBV             Health Care  2.034378e+11
3   ABMD             Health Care  1.581906e+10
4    ACN  Information Technology  2.031204e+11

In [11]:
# set index to GICS Sector
sp500_w_marketcap = sp500_w_marketcap.set_index("GICS Sector")
sp500_w_marketcap

                       Symbol    Market_Cap
GICS Sector
Industrials               MMM  1.144546e+11
Health Care               ABT  2.166563e+11
Health Care              ABBV  2.034378e+11
Health Care              ABMD  1.581906e+10
Information Technology    ACN  2.031204e+11
...                       ...           ...
Consumer Discretionary    YUM  3.981149e+10
Information Technology   ZBRA  3.045970e+10
Health Care               ZBH  3.130774e+10
Financials               ZION  8.701906e+09
Health Care               ZTS  9.677650e+10

[503 rows x 2 columns]

In [12]:
# filter out industrials
industrials = sp500_w_marketcap.loc["Industrials"]
industrials

            Symbol    Market_Cap
GICS Sector
Industrials    MMM  1.144546e+11
Industrials    ALK  7.208412e+09
Industrials   ALLE  1.231529e+10
Industrials    AAL  1.353835e+10
Industrials    AME  3.165210e+10
...            ...           ...
Industrials    URI  2.355111e+10
Industrials   VRSK  3.078270e+10
Industrials    WAB  1.627273e+10
Industrials     WM  6.261410e+10
Industrials    XYL  2.295895e+10

[74 rows x 2 columns]

In [20]:
industrials_list = industrials.set_index("Market_Cap").sort_values(by="Market_Cap").iloc[0:5]
industrials_list

             Symbol
Market_Cap
7.208412e+09    ALK
8.175203e+09    HII
8.288451e+09   NLSN
1.116870e+10    RHI
1.135576e+10    AOS